@charset "UTF-8";
.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;   /* must stay none initially */
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
}

.logout-modal.show {
  display: flex;
}


.logout-box {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,198,255,0.5);
}
